*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 375px;
  position: relative;
  padding-bottom: 10rem;
}

@media only screen and (min-width: 1240px) {
  .container {
    max-width: 1440px;
    padding-bottom: unset;
    padding: 10rem;
    border-radius: 3px;
    -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    grid-gap: 5rem;
  }
}

.container::before, .container::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container::before {
  background-image: url(../images/bg-pattern-top-mobile.svg);
  top: -1rem;
  height: 25rem;
}

@media only screen and (min-width: 1240px) {
  .container::before {
    background-image: url(../images/bg-pattern-top-desktop.svg);
    top: 0;
  }
}

.container::after {
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  bottom: -7rem;
  height: 50rem;
}

@media only screen and (min-width: 1240px) {
  .container::after {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    bottom: 0;
    right: -20%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1240px) {
  .attribution {
    position: absolute;
    bottom: 0;
  }
}

.attribution a {
  color: #3e52a3;
}

.heading {
  text-align: center;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  padding: 0 1.7rem;
}

@media only screen and (min-width: 1240px) {
  .heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
    margin-top: unset;
    margin-bottom: unset;
    padding: unset;
    padding-right: 15%;
  }
}

.heading--main {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: #502050;
  margin: auto 3rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1240px) {
  .heading--main {
    font-size: 3.5rem;
    margin: unset;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

.heading--sub {
  color: #937b92;
  font-weight: 500;
  line-height: 1.6;
}

.ratings-list {
  list-style: none;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 1240px) {
  .ratings-list {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.rating {
  background-color: #f7f2f7;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 1240px) {
  .rating {
    margin-bottom: unset;
    padding: 1.5rem 3.5rem;
  }
}

@media only screen and (min-width: 1240px) {
  .rating:first-child {
    margin-right: 7rem;
  }
}

@media only screen and (min-width: 1240px) {
  .rating:nth-child(2) {
    margin: auto 3.5rem;
  }
}

@media only screen and (min-width: 1240px) {
  .rating:last-child {
    margin-left: 7rem;
  }
}

@media only screen and (min-width: 1240px) {
  .rating figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.rating:not(:last-child) {
  margin-bottom: 1.5rem;
}

.rating__stars {
  margin-bottom: 0.7rem;
}

@media only screen and (min-width: 1240px) {
  .rating__stars {
    margin-bottom: unset;
    margin-right: 2rem;
  }
}

.rating__caption {
  color: #502050;
  font-weight: 700;
}

.testimonials-list {
  list-style: none;
  color: white;
}

@media only screen and (min-width: 1240px) {
  .testimonials-list {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: row;
  }
}

.testimonial {
  background-color: #502050;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  grid-gap: 3rem;
  padding: 3.2rem;
  line-height: 1.6;
}

@media only screen and (min-width: 1240px) {
  .testimonial {
    width: 32%;
  }
}

.testimonial:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1240px) {
  .testimonial:first-child {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1240px) {
  .testimonial:nth-child(2) {
    margin: 2.5rem auto;
  }
}

@media only screen and (min-width: 1240px) {
  .testimonial:last-child {
    margin-top: 5rem;
  }
}

.testimonial__photo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial__photo img {
  width: 100%;
  height: auto;
  display: block;
}

.testimonial__author {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testimonial__review {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-weight: 400;
}

.author__name {
  font-weight: 700;
}

.author__title {
  color: #ee68a4;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */