.container {
  @include flexCenter;
  max-width: 375px;
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}
