.container {
  @include flexCenter;
  max-width: 375px;
  border: 1px solid;
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 1rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}
