// COLORS
$color-primary-magenta: hsl(300, 43%, 22%);
$color-primary-pink: hsl(333, 80%, 67%);

$color-neutral-dark: hsl(303, 10%, 53%);
$color-neutral-light: hsl(300, 24%, 96%);
$color-neutral-white: hsl(0, 0%, 100%);

// FONT
$font-default: 'Spartan', sans-serif;

// BREAKPOINTS
$bp-xs: 375px;
$bp-sm: 600px;
$bp-md: 1070px;
$bp-lg: 1240px;
$bp-xl: 1440px;
