.heading {
  text-align: center;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  padding: 0 1.7rem;

  @media only screen and (min-width: $bp-md) {
    margin-top: 1rem;
  }

  @media only screen and (min-width: $bp-lg) {
    grid-column: 1/2;
    grid-row: 1/2;

    text-align: left;
    margin-top: unset;
    margin-bottom: unset;
    padding: unset;
    padding-right: 15%;
  }

  &--main {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: $color-primary-magenta;
    margin: auto 3rem;
    margin-bottom: 2rem;

    @media only screen and (min-width: $bp-md) {
      font-size: 3rem;
    }

    @media only screen and (min-width: $bp-lg) {
      font-size: 3.5rem;
      margin: unset;
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
  }

  &--sub {
    color: $color-neutral-dark;
    font-weight: 500;
    line-height: 1.6;
  }
}
