.heading {
  text-align: center;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  padding: 0 1.7rem;

  &--main {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-primary-magenta;
    margin: auto 2.9rem;
    margin-bottom: 2rem;
  }

  &--sub {
    color: $color-neutral-dark;
    font-weight: 500;
    line-height: 1.6;
  }
}
