.ratings-list {
  list-style: none;
  width: 100%;
  text-align: center;

  @media only screen and (min-width: $bp-lg) {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-left: 30%;
  }
}

.rating {
  background-color: $color-neutral-light;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 5rem;

  @media only screen and (min-width: $bp-lg) {
    margin-bottom: unset;
  }

  &:first-child {
    @media only screen and (min-width: $bp-lg) {
      margin-right: 7rem;
    }
  }

  &:nth-child(2) {
    @media only screen and (min-width: $bp-lg) {
      margin: auto 3.5rem;
    }
  }

  &:last-child {
    @media only screen and (min-width: $bp-lg) {
      margin-left: 7rem;
    }
  }

  figure {
    @media only screen and (min-width: $bp-lg) {
      @include flexCenter;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__stars {
    margin-bottom: 0.7rem;

    @media only screen and (min-width: $bp-lg) {
      margin-bottom: unset;
      margin-right: 2rem;
    }
  }

  &__caption {
    color: $color-primary-magenta;
    font-weight: 700;
  }
}
